.gradle/3.3/taskArtifacts/fileHashes.bin

.gradle/3.3/taskArtifacts/fileSnapshots.bin

3.3/taskArtifacts/taskArtifacts.bin

.gradle/3.3/taskArtifacts/taskArtifacts.lock

.idea/.name

.idea/libraries/android_android_25.xml

.idea/libraries/espresso_core_2_2_2.xml

.idea/libraries/espresso_idling_resource_2_2_2.xml

.idea/libraries/exposed_instrumentation_api_publish_0_5.xml

.idea/libraries/rules_0_5.xml

.idea/libraries/runner_0_5.xml

.idea/misc.xml

.idea/runConfigurations.xml

.idea/workspace.xml

app/app.iml

local.properties
/build

.idea/inspectionProfiles/Project_Default.xml
/.idea
/.gradle
